body {
	position: relative; 
}

.navbar-nav li a{
	font-weight: bold;
}

#about {
	padding-top: 50px;
	min-height: 700px;
	color: #fff;
	background-color: #000000;
}

.bg {
	background-image: url("../img/laptop.jpg");
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.about-content {
	text-align: center;
	padding-top: 50px;
}

.about-content .intro {
	font-size: 50px;
}

.about-content .role {
	font-size: 26px;
	padding-bottom: 50px;
}

.about-content .detail {
	font-size: 20px;
}

#about .next-content a {
	color: #eee;
}

#skill {
	padding-top: 50px;
	min-height: 700px;
	color: #363636;
	background-color: #f0f0f0;
}

.skill-content .title {
	text-align: center;
	font-weight: bold;
	padding-top: 50px;
}

.skill-content hr {
	width: 250px;
	border-top: 3px solid #4b4d4e;
}

.skill-content .subtitle {
	text-align: center;
	padding-top: 30px;
}

.skill-content .skill_list {
	text-align: center;
	font-weight: bold;
	padding: 0px 50px 0px 50px;
}

.skill-content .skill_list div {
	padding: 30px 0px 0px 0px;
}

.skill-content .skill_list img {
	width: 50px;
	height: 50px;
}

#skill .next-content a {
	color: #b3b3b3;
}

#project {
	padding-top: 50px;
	min-height: 700px;
	color: #363636;
	background-color: #ddd;
}

.project-content .title {
	text-align: center;
	font-weight: bold;
	padding-top: 50px;
}

.project-content hr {
	width: 250px;
	border-top: 3px solid #4b4d4e;
}

.project_list {
	padding-top: 50px;
}

.project-content .item {
	background-color: #eaeaea;
	padding: 20px;
	margin-bottom: 30px;
	border: solid 1px lightgrey;
	border-radius: 10px;
}

/*
.project-content .item:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*/

.project-content .item-main {
	cursor: pointer;
}

.project-content .item-title {
	margin-top: 0px;
}

.project-content .item-detail {
	padding-top: 15px;
	text-align: justify;
}

.project-content .item-info {
	padding-top: 15px;
}

.project-content .item-info .tool {
	display: inline-block;
	color: black;
	background-color: lightgrey;
	padding: 5px 10px 5px 10px;
	margin-bottom: 5px;
}

#project .next-content a {
	color: #a7a7a7;
}

#contact {
	padding-top: 50px;
	min-height: 700px;
	color: #fff;
	background-color: #343a40;
}

.contact-content .title {
	text-align: center;
	font-weight: bold;
	padding-top: 50px;
}

.contact-content hr {
	width: 250px;
	border-top: 3px solid #eee;
}

.contact-content .item {
	text-align: center;
	padding-top: 50px;
}

#contact .next-content a {
	color: grey;
}

.next-content {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.next-content a:hover {
	opacity: 0.5;
}

