body {
	position: relative; 
}

.navbar-nav li a{
	font-weight: bold;
}

#home {
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 700px;
	color: white;
	background-color: black;
}

.bg {
	background-image: url("../img/laptop-blur.jpg");
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.home-content .panel {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: rgba(255, 255, 255, 0.3);
}

.home-content .title {
	font-size: 60px;
	padding-top: 50px;
}

.home-content .role {
	font-size: 25px;
	padding-bottom: 50px;
}

#home .next-content a {
	color: #bbb;
}

#about {
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 700px;
	color: white;
	background-color: #042450;
}

.about-content hr {
	width: 250px;
	border-top: 3px solid #fff;
}

.about-content .intro {
	text-align: center;
	font-size: 30px;
	padding-top: 50px;
}

.about-content .detail {
	text-align: center;
	font-size: 20px;
}

#about .next-content a {
	color: #bbb;
}

#skill {
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 700px;
	color: #363636;
	background-color: #f0f0f0;
}

.skill-content hr {
	width: 250px;
	border-top: 3px solid #4b4d4e;
}

.skill-content .subtitle {
	text-align: center;
	padding-top: 30px;
}

.skill-content .skill_list {
	text-align: center;
	font-weight: bold;
	padding: 0px 50px 0px 50px;
}

.skill-content .skill_list div {
	padding: 30px 0px 0px 0px;
}

.skill-content .skill_list img {
	width: 50px;
	height: 50px;
}

#skill .next-content a {
	color: #ccc;
}

#project {
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 700px;
	color: #363636;
	background-color: #dddddd;
}

.project-content hr {
	width: 250px;
	border-top: 3px solid #4b4d4e;
}

.project-content .row {
	padding-top: 50px;
}

.project-content .item {
	background-color: #eaeaea;
	padding: 20px;
	margin-bottom: 30px;
	border: solid 1px lightgrey;
	border-radius: 10px;
}

.project-content .item-main {
	cursor: pointer;
}

.project-content .item-title {
	margin-top: 0px;
}

.project-content .item-detail {
	padding-top: 15px;
	text-align: justify;
}

.project-content .item-info {
	padding-top: 15px;
}

.project-content .item-info .tool {
	display: inline-block;
	color: black;
	background-color: lightgrey;
	padding: 4px 8px 4px 8px;
	margin-bottom: 5px;
	font-size: 13px;
}

#project .next-content a {
	color: #bbb;
}

#contact {
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 700px;
	color: #ffffff;
	background-color: #343a40;
}

.contact-content hr {
	width: 250px;
	border-top: 3px solid #eee;
}

.contact-content .item {
	text-align: center;
	padding-top: 50px;
}

#contact .next-content {
	margin-top: 100px;
}

#contact .next-content a {
	color: grey;
}

.content-title {
	text-align: center;
	font-weight: bold;
	padding-top: 50px;
}

.next-content {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.next-content a:hover {
	opacity: 0.5;
}

